<div class="container">

  <h2 *ngIf="!idEditando">Cadastro de Perfume</h2>
  <h2 *ngIf="idEditando">Editar Perfume</h2>

  <form (ngSubmit)="cadastrarPerfume()">

    <label>Nome do Perfume</label>
    <input
      type="text"
      name="nome"
      [(ngModel)]="novoPerfume.nome"
      required
    >

    <label>Marca</label>
    <input
      type="text"
      name="marca"
      [(ngModel)]="novoPerfume.marca"
      required
    >

    <label>Preço sem desconto</label>
    <input
      type="number"
      name="precoAntigo"
      [(ngModel)]="novoPerfume.precoAntigo"
      required
    >

    <label>Preço com desconto</label>
    <input
      type="number"
      name="precoAtual"
      [(ngModel)]="novoPerfume.precoAtual"
      required
    >

    <label>Imagem do Produto</label>
    <input
      type="file"
      (change)="selecionarImagem($event)"
    >

    <button type="submit">
      {{ idEditando ? 'Atualizar' : 'Cadastrar' }}
    </button>

  </form>

</div>