<!-- header pronto -->
<div class="top-bar">
  10% OFF no site com cupom PRIMEIRACOMPRA
</div>

<section class="home">
  <header class="header">

    <div class="logo-container">
      <a routerLink="/home"><img src="perfume.png" class="logo"></a>
      <a routerLink="/home"><h1>Essency</h1></a>
    </div>

    <div class="search">
      <input type="text" placeholder="O que está buscando hoje?"/>
      <div class="resultado-box"></div>
    </div>

    <div class="actions">

      <div routerLink="/favorites" class="item">
        <i class="fa-regular fa-heart"></i>
        <span>Favoritos</span>
      </div>

      <div *ngIf="!usuario" routerLink="/login" class="item">
        <i class="fa-regular fa-user"></i>
        <span>Entrar</span>
      </div>

      <div *ngIf="usuario" class="item user-menu" (click)="toggleMenu($event)">
        <i class="fa-regular fa-user"></i>
        <span>{{ usuario.nome }}</span>
        <div class="dropdown" *ngIf="menuAberto" (click)="$event.stopPropagation()">
          <div class="dropdown-item">
            <i class="fa-regular fa-user"></i> Minha Conta
          </div>
          <div class="dropdown-item sair" (click)="sair()">
            <i class="fa-solid fa-right-from-bracket"></i> Sair
          </div>
        </div>
      </div>

      <div routerLink="/cart" class="item">
        <i class="fa-solid fa-cart-shopping"></i>
        <span>Meu Carrinho</span>
      </div>

      <div *ngIf="usuario?.isAdmin" routerLink="/admin-page" class="item">
        <i class="fa-solid fa-key"></i>
        <span>Admin</span>
      </div>

    </div>

  </header>
</section>

<div class="menu">
  <a href="#male">Masculinos</a>
  <a href="#feminine">Femininos</a>
</div>
